<!-- templates/product.html -->
 {% extends "base.html" %}

{% block title %}Product Details{% endblock %}

{% block content %}
    <h2 class="mb-4">Product Details</h2>
    <p>Here are the details for the product:</p>
    
    <!-- Example product details -->    
     <p>Product Name: {{ product.name }}</p>
     <p>Product Price: {{ product.price }}</p>
        <p>Product Description: {{ product.description }}</p>
    <p>Product ID: {{ product.id }}</p>
    <p>Product Category: {{ product.category }}</p>

    <p>Product Stock: {{ product.stock }}</p>
    <p>Product Image: <img src="{{ product.image_url }}" alt="{{ product.name }}"></p>  
     
    add to cart form
    <form method="POST" action="/cart/add/{{ product.id }}">    
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" min="1"
    max="{{ product.stock }}" value="1">
    <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>

    {% endblock %}
    {% block footer %}
  <footer>
    <p>&copy; 2025 The Harvest Store</p>
  </footer>
{% endblock %}



